/*   BOX-SIZING   */

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*  BASE   */

body{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;


  /*  font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;*/
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/*   HEADER   */

header{
    background-color: #379AE3;
    width: 100%;
    position: fixed;

    font-size: 18px;
}

header ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
    
}

header ul :hover{
    color: white;
}
    
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}    

.logo{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 24px ;
}

.billets{
    border: 2px solid black;
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}


/*   HERO   */

.hero{
    background-image: url(../images/Hero\ image\ droite.jpg);
    height: 637px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}